/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/


.portfolio-item {
	height: 200px;
}

.front, .back{
	position: relative;
	left: 0px;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: 1.5s ease-in-out;
}

.front{
	z-index:1;
	top: 0px;
	transform: rotatey(0deg);
}

.back{
	top: -200px;
	transform: rotatey(180deg);
}

.portfolio-item:hover .front{
	transform: rotateY(180deg);
}

.portfolio-item:hover .back{
	transform: rotateY(0deg);
}